extends layout

block header_meta
	- var content_title= 'АВТОРИЗАЦИЯ'

block header_include
	- var include_css = ['add.css', 'login.css']

block content
	img.logo(src='/stuff/' + __app_name + '/icons/logo/krot_w.svg')
	.form_login
		.title= content_title
		form(action='/auth/login', method='post')
			.form_title Логин / Email:
			input(type='text', name='login',)
			.form_title Пароль:
			input(type='password', name='password',)
			br
			br
			input(type='submit', value='Вход')
			input(type='button', value='Регистрация', onclick="location.href='/auth/registr';")