.content_block
	margin-left -20px!important
	margin-right -20px!important

.column_item
	padding-left 20px!important
	padding-right 20px!important
	box-sizing border-box!important
	max-width 100%!important

.slide_button.next
	margin-left 10px!important

.slide_button.prev
	margin-right 10px!important