extends layout

block content_header
	- var content_title= 'О НАС'

	- var content_libs_css = ['font-awesome.css', 'wysiwyg-editor.min.css']
	- var content_comps_css = ['add.css']

	- var content_libs_js = ['wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var content_comps_js = ['editor.js', 'add.js']

block sub_menu
	a.sub_item.back_link(href='/admin') Назад

block content
	.form_block
		.title= content_title
		form(action='', method='post')
			.form_title Текст:
			textarea.input.editor(name='content')= content
			br
			br
			input(type='submit', style='display: block; clear: both;' value='сохранить')