extends layout

block paths
	- var content_title= 'РЕДАКТИРОВАТЬ CV'

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/font-awesome.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/wysiwyg-editor.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/add.css' + version)

block content_scripts
	script(type='text/javascript', src='/libs/js/wysiwyg.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg-editor.min.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/editor.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/add.js' + version)

block sub_menu
	a.sub_item.back_link(href='/admin') Назад

block content
	.form_block
		.title= content_title
		form(action='', method='post')
			.form_title Текст:
			textarea.input.editor(name='content')= content
			br
			br
			input(type='submit', style='display: block; clear: both;' value='сохранить')