extends layout

block header_meta
	- var content_title= 'KROT'

block header_include
	- var include_css = ['add.css', 'stargazer.css']
	- var include_js = ['stargazer.js']

block sub_menu
	a.sub_item.back_link(href='/auth/logout') Выход
	span.separator |
	a.sub_item(href='admin/users/edit/' + session.user_id)= session.login

block content
	pre.ascii(data-font=font)!=data