extends layout

block content_header
	- var content_title= 'KROT'

	- var content_comps_css = ['add.css', 'stargazer.css']
	- var content_comps_js = ['stargazer.js']

block sub_menu
	a.sub_item.back_link(href='/auth/logout') Выход
	span.separator |
	a.sub_item(href='admin/users/edit/' + session.user_id)= session.login

block content
	pre.ascii(data-font=font)!=data