doctype html
html
	head
		block paths
		include header
	body
		.main_block
			.header_block
				.menu_block
					.logo
						a(href='/') KROT
						span= ' | '
						a(href='/admin') STARGAZER
					a(href='/admin/users') ПОЛЬЗОВАТЕЛИ
					a(href='/admin/issues') НОМЕРА
					a(href='/admin/articles') МАТЕРИАЛЫ
					a(href='/admin/categorys') КАТЕГОРИИ
					a(href='/admin/about') О НАС
					a(href='/admin/links') ССЫЛКИ
				.sub_menu_block
					block sub_menu
			.content_block
				block content