.issue_map
	overflow hidden
	width 1180px
	position relative
	.articles_list
		float left
		background-color rgb(231, 197, 123)
		width 300px
		top 0; bottom 0; right 0
		position absolute
		display none
		&.show
			display block
		.list_search
			display block
			width 100%
			margin 0
			padding 0
			border none
			background-color rgb(235, 235, 236)
			font-size 20pt
			padding-left 5px
			box-sizing border-box
		.list_items
			height 100%
			overflow-y scroll
			.list_item
				padding-left 5px
				box-sizing border-box
				cursor pointer
	.issue_colums
		float left
		overflow hidden
		width 880px
		background-color grey
		user-select none
		.issue_column
			width 200px
			float left
			min-height 220px
			background-color lightgrey
			margin-right 20px
			cursor move
			&:hover
				background-color rgb(243, 166, 219)
			.column_main
				float right
				display block
				margin-top 5px
				margin-right 5px
			&:hover .delete_item.column
				opacity 1
			.issue_article
				width 200px
				min-height 100px
				margin-bottom 20px
				position relative
				cursor move
				&:hover
					background-color rgb(231, 197, 123)
				.article_title
					position absolute
					bottom 0
					background-color black
					color white
					padding 5px
					opacity 0
				.article_image
					display block
					width 100%
				&:hover
					.article_title
						opacity 1
					.delete_item.article
						opacity 1

.delete_item
	background-color black
	color white
	display inline-block
	padding-left 5px
	padding-right 5px
	opacity 0
	cursor pointer
	&.article
		position absolute
		right 0
		padding-top 2px
		&:after
			content '✕'
	&.column
		padding 3px
		&:after
			content 'удалить колонку'
	&:hover
		background-color red

.add_item
	cursor pointer
	width 200px
	height 200px
	text-align center
	&:after
		content '+'
		font-size 120px
		line-height 170px
		color black
		z-index 999999
	&.article
		background-color rgb(131, 193, 216)
		&.select
			background-color rgb(89, 187, 57)
	&.column
		float left
		margin-top 27px
		background-color rgb(243, 166, 219)