@media screen and (max-width: 1240px) {
	.sub_menu_block.fixed {
		position absolute!important
		top 52px!important
		border none!important
	}
}

body
	margin 0
	padding 0
	font 12pt/16pt Times

a
	color black
	text-decoration none
	&:hover
		color red!important

.main_block
	width 1240px
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	margin 0px auto

.header_block
	padding-top 20px

.content_block
	margin-top 60px
	padding-bottom 60px

.menu_block
	margin 0 auto
	user-select none
	border-bottom 1px dashed black
	overflow hidden
	padding-bottom 10px
	.logo
		margin-right 60px
		display inline-block
		span
			margin-left 3px
			margin-right 3px
		a
			margin-right 0
	a
		margin-right 20px
		display inline-block

.sub_menu_block
	z-index 9999999999
	background-color white
	top 52px
	width 1200px
	padding-top 10px
	padding-bottom 5px
	user-select none
	height 25px
	margin-bottom 20px
	position absolute
	&.fixed
		top 0
		position fixed
		border-bottom 1px dashed black
	.back_link:before
		content '➔'
		display inline-block
		transform rotate(180deg)
		margin-right 4px
		top -2px
		position relative
	.separator
		margin-right 10px
	.sub_item
		cursor pointer
		margin-right 15px
		&:hover
			color red
	.sub_right_block
		float right
		.form_submit
			margin-left 5px
		.sub_search
			display inline-block
			margin-top -1px
			margin-left 15px
			border none
			outline none
			padding 1px
			border-bottom 1px dotted black
			height 20px
		.sub_drop
			position relative
			display inline-block
			vertical-align top
			white-space nowrap
			margin-left 15px
			.drop_title
				position relative
				cursor default
				z-index 999
			.drop_inner
				position absolute
				margin-top -4px
				padding-top 23px
				padding-left 5px
				padding-right 5px
				margin-left -5px
				background-color white
				box-sizing border-box
				top 0
				left 0
				vertical-align top
				display none
				border 1px dotted black
			&:hover .drop_inner
				display block
			.drop_item
				cursor pointer
				&:hover
				&.select
					color red

.list_items
	margin-bottom 5px
	.item_title
		&.special
			color blue
		&.hidden
			color darkgrey
	.arrow:after
		padding-left 8px
		padding-right 8px
		content '➔'
	border-top 1px dotted black
	.list_item
		padding-top 8px
		padding-bottom 8px
		border-bottom 1px dotted black
		.item_preview
			display none
			&.show
				display inline
		.item_pull
		.item_rm
			display none
			&.show
				display inline
			&:after
				content '|'
				margin-left 5px
				margin-right 5px
				color black
		&:hover
			background-color rgb(240, 237, 242)

.add
	font-weight bold
	cursor pointer
	&:hover
	&.selected
		color red

.form_block
	position relative

input, textarea, select
	font-size 12pt
	outline none

.input
	box-sizing border-box
	margin 0
	width 590px!important
	display inline-block
	&.input
		width auto

.wysiwyg-container
	width 588px
	border-radius 0px
	.wysiwyg-editor a
		text-decoration underline!important
		cursor pointer!important
	img
		max-width 100%
		box-sizing border-box
		&.double
			width 100%
			border-left 30px solid rgba(156, 74, 153, 1.000)
			border-right 30px solid rgba(156, 74, 153, 1.000)
		&.center
			width 100%
			border-left 10px solid red
			border-right 10px solid red
		&.left
			width 100%
			border-left 10px solid rgba(104, 214, 49, 1.000)
		&.right
			width 100%
			border-right 10px solid rgba(55, 169, 251, 1.000)

.wysiwyg-toolbar-icon
.wysiwyg-plugin-list a
	color black
	transition none
	&:hover
		transition none
		background-color transparent

.title
	margin-top 20px
	font-size 20pt
	line-height 24pt

.form_title
	margin-top 20px
	margin-bottom 10px
	font-size 14pt
	line-height 16pt
	clear both

.footer_block
	display none

.spacer
	display inline-block
	width 10px
	text-align center
	margin-right 5px