body
	margin 0
	padding 0
	font 12pt/16pt Times

a
	color black
	text-decoration none
	&:hover
		color red!important

.main_block
	width 1240px
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	margin 0px auto

.header_block
	padding-top 20px

.content_block
	padding-bottom 50px
	.program_push_form
	.tuzik_form
		position absolute
		margin-top -3px
		margin-left 3px
		&.hidden
			display none
		.tuzik_input
			width 160px
			font-size 10pt

.menu_block
	margin 0 auto
	user-select none
	border-bottom 1px dashed black
	overflow hidden
	padding-bottom 10px
	.logo
		margin-right 60px
	a
		margin-right 20px
		display block
		float left

.sub_menu_block
	padding-top 5px
	padding-bottom 5px
	user-select none
	height 25px
	margin-top 5px
	margin-bottom 20px
	.back_link:before
		content '➔'
		display inline-block
		transform rotate(180deg)
		margin-right 4px
		top -2px
		position relative
	.separator
		margin-right 10px
	.sub_item
		cursor pointer
		margin-right 10px
		&:hover
			color red
	.sub_right_block
		float right
		.sub_search
			display inline-block
			margin-top -1px
			margin-left 5px
			border none
			outline none
			padding 1px
			border-bottom 1px dotted black
			height 20px
		.sub_drop
			position relative
			display inline-block
			vertical-align top
			white-space nowrap
			margin-left 5px
			.drop_title
				position relative
				cursor default
				z-index 999
			.drop_inner
				position absolute
				margin-top -4px
				padding-top 23px
				padding-left 5px
				padding-right 5px
				margin-left -5px
				background-color white
				box-sizing border-box
				top 0
				left 0
				vertical-align top
				display none
				border 1px dotted black
			&:hover .drop_inner
				display block
			.drop_item
				cursor pointer
				&:hover
				&.select
					color red

.list_items
	margin-bottom 5px
	.item_title
		&.hidden
			color darkgrey
	.arrow:after
		padding-left 8px
		padding-right 8px
		content '➔'
	border-top 1px dotted black
	.list_item
		padding-top 8px
		padding-bottom 8px
		border-bottom 1px dotted black
		.item_pull
		.item_rm
			display none
			&.show
				display inline
			&:after
				content '|'
				margin-left 5px
				margin-right 5px
				color black
		&:hover
			background-color rgb(240, 237, 242)

.add
	font-weight bold
	cursor pointer
	&:hover
	&.selected
		color red

.form_block
	position relative

input, textarea, select
	font-size 12pt
	outline none

.form_submit
	display block
	clear both

.input
	box-sizing border-box
	margin 0
	width 590px!important
	display inline-block
	&.input
		width auto

.editor
	width 588px
	float left
	margin-right 20px
	margin-bottom 20px
	border-radius 0px
	&.wysiwyg-active
		box-shadow none
		border 1px solid #ccc
	&:nth-child(3n)
		margin-right 0px
		display none

.title
	margin-top 20px
	font-size 20pt
	line-height 24pt

.form_title
	margin-top 20px
	margin-bottom 10px
	font-size 14pt
	line-height 16pt
	clear both

.footer_block
	display none

.spacer
	display inline-block
	width 10px
	text-align center
	margin-right 5px

.form_images_upload
	position relative
	.images_upload_preview
		box-sizing border-box
		width 590px
		min-height 205px
		padding-top 10px
		overflow hidden
		border 1px solid red
		.placeholder
			width 180px
			height 180px
			margin-bottom 10px
			margin-left 10px
			float left
			background-color lightgrey
			border 1px solid red
		.image_upload_preview
			width 180px
			height 180px
			margin-bottom 10px
			margin-left 10px
			float left
			background-size cover
			background-position center
			border 1px solid red
			&:hover
				outline 1px solid red
				.image_delete
					display block
			.image_position
			.image_marquee
				user-select none
				position relative
				float right
				padding 0px 8px 2px 8px
				background-color red
				color white
				cursor default
				&:hover
					background-color black
					color white
			.image_delete
				display none
				position relative
				float left
				padding 0px 8px 2px 8px
				background-color red
				color white
				cursor default
				&:hover
					background-color black
					color white
			.image_description
				position absolute
				width 610px
				left 610px
				top 0
				bottom 0
				display none
				&.show
					display block
				.image_description_input
					box-sizing border-box
					display block
					float left
					width 285px
					height 100%
					border 1px solid #ccc
					margin-right 20px
					resize none
					&:last-child
						margin-right 0px
					&.en_img
						display none