@media screen and (max-width: 960px) {
	img.left {
		margin-left: calc((100% - 100vw) / 2)!important;
	}
	img.right {
		margin-right: calc((100% - 100vw) / 2)!important;
	}
}

@media screen and (max-width: 800px) {
	img.left {
		width 100%!important
		max-width 600px!important
		margin-left 0!important
		padding 0!important
		float none!important
	}
	img.right {
		width 100%!important
		max-width 600px!important
		margin-right 0!important
		padding 0!important
		float none!important
	}
	.article_categorys {
		max-width 200px!important
	}
	.article_categorys .category_item {
		margin-bottom 10px!important
		margin-right 0!important
		margin-left 10px!important
		float right
	}
}

.bookmark
	position fixed
	bottom 0
	right 0

	width 0
	height 0
	border-bottom 40px solid rgb(255, 237, 52)
	border-left 40px solid transparent
	transition .2s ease-in
	&.scroll
		border-color transparent

.logo_block .cover
	border 15px solid black
	box-sizing border-box

.article_header
	margin-top 20px
	margin-bottom 20px
	overflow hidden
	.header_back
		display block
		float left
		&:hover
			background-color rgb(255, 237, 52)
	.article_categorys
		float right

.article_body
	max-width 600px
	margin 0 auto
	hyphens auto
	.article_intro
		font-weight bold
		margin-bottom 20px
	.article_description
		img ~ br
			display none
		img
			display block
			max-width 100%
			&.center
				width 100%
			&.left
				max-width 420px
				float left
				padding 15px 15px 10px 20px
				margin-left: calc((100% - 960px) / 2);
			&.right
				max-width 420px
				float right
				padding 15px 20px 10px 15px
				margin-right: calc((100% - 960px) / 2);
		&:after
			content ''
			display block
			clear both
	.article_files
		margin-bottom 20px
		.file_item
			color black
			text-decoration none
			margin-right 20px
			&:hover
				text-decoration underline
				font-weight bold
			&:last-child
				margin-right 0

.article_summary
	margin-top 20px
	.summary_item
		display inline-block
		margin-right 20px
		&.hidden
			opacity 0.5
		img
			height 160px
			&.s_item_base
				display block
			&.s_item_hover
				display none
		&.change:hover
			.s_item_base
				display none
			.s_item_hover
				display block