@font-face {
	font-family: 'PT Mono';
	src: url('/libs/fonts/PTMono/ptm55f_w.eot');
	src: local('PT Mono'), url('/libs/fonts/PTMono/ptm55f_w.eot?#iefix') format('embedded-opentype'),url('/libs/fonts/PTMono/ptm55f_w.woff') format('woff'),url('/libs/fonts/PTMono/ptf55m_w.ttf') format('truetype'), url('/libs/fonts/PTMono/ptm55f_w.svg#PTMono-Regular') format('svg');
}

@font-face {
	font-family: 'PT Mono';
	src: url('/libs/fonts/PTMono/ptm75f_w.eot');
	font-style: normal;
	font-weight: bold;
	src: local('PT Mono Bold'), url('/libs/fonts/PTMono/ptm75f_w.eot?#iefix') format('embedded-opentype'), url('/libs/fonts/PTMono/ptm75f_w.woff') format('woff'),url('/libs/fonts/PTMono/ptm75f_w.ttf') format('truetype'), url('/libs/fonts/PTMono/ptm75f_w.svg#PTMono-Bold') format('svg');
}