.outer_block
	max-width 960px
	margin 0 auto
	padding 20px
	// box-sizing border-box
	.logo_block img
		width 100%
		max-width 960px
		display block
	.footer_block
		margin-top 15px
		border-top 8px solid rgb(255, 237, 52)