@import '_fonts.styl'
@media screen and (max-width: 960px)
	@import 'mobile/_global.styl'


::selection { background: rgb(255, 237, 52); }
::-moz-selection { background: rgb(255, 237, 52); }

body
	margin 0
	padding 0
	font-family 'PT Mono'

a
	color black

.article_categorys
	overflow hidden
	.category_item
		display inline-block
		vertical-align bottom
		padding 6px
		background-color black
		color white
		text-decoration none
		text-transform uppercase
		margin-right 10px
		font-size 10pt
		font-weight bold
		&.hidden
			opacity 0.5
		&:last-child
			margin-right 0
		&:hover
			background-color rgb(255, 237, 52)
			color black

.stargazer
	position fixed
	padding 10px
	background-color rgba(0, 0, 0, 0.7)
	.sg_drop
		padding-top 8px
		display none
		.drop_item
			display block
			padding-bottom 3px
			&.go
				display inline-block
			&:last-child
				padding-bottom 0
	&:hover .sg_drop
		display block
	a:hover
		color red
	span
		margin-left 3px
		margin-right 3px
	span, a
		text-decoration none
		color white
		font-weight bold

.outer_block
	max-width 960px
	margin 0 auto
	padding-left 20px
	padding-right 20px
	padding-bottom 10px

	.logo_block img
		width 100%
		max-width 960px
		display block

	.footer_block
		margin-top 20px
		padding-top 15px
		overflow hidden
		border-top 8px solid rgb(255, 237, 52)
		.footer_logo
			float left
			max-width 135px
			margin-right 20px
			&:hover
				background-color rgb(255, 237, 52)
		.footer_links
			float left
			text-align center
			a
				font-weight bold
				display block
				background-color black
				color white
				font-size 11pt
				padding 5px
				text-decoration none
				text-transform uppercase
				margin-bottom 10px
				border 3px solid transparent
				box-sizing border-box
				&.mail
					font-weight normal
					background-color transparent
					text-transform lowercase
					color black
					&:hover
						border 3px solid black
						box-sizing border-box
						background none
				&:last-child
					margin-bottom 0
				&:hover
					background-color rgb(255, 237, 52)
					color black
		.footer_back
			float right
			border 8px solid black
			color black
			text-decoration none
			padding 10px
			font-size 44pt
			text-transform uppercase
			font-weight bold
			&:hover
				color rgb(255, 237, 52)
				border-color rgb(255, 237, 52)