@media screen and (max-width: 980px)
	@import 'mobile/_issue.styl'

.issue_columns
	overflow hidden
	margin-top 20px
	width 100%
	.slide_button
		position absolute
		width 60px
		height 60px
		top 50%
		margin-top -30px
		z-index 99999
		cursor pointer
		background-image url('/stuff/krot/icons/arrow.svg')
		&.left
			margin-left -10px
			transform rotate(180deg)
		&.right
			margin-right -10px
			right 0
		&.swiper-button-disabled
			cursor default
			opacity 0.6
	.column_item
		max-width 306px
		// width 60%
		// width 300px
		// float left
		// margin-right 30px
		// border 1px solid red
		// &:last-child
		// 	margin-right 0
		.article_item
			position relative
			display block
			margin-bottom 10px
			&.hidden
				opacity 0.5
			&:last-child
				margin-bottom 0
			.article_categorys
				position absolute
				left 10px
				bottom 10px
				overflow hidden
				.category_item
					margin-top 10px
			.article_cover
				display block
				text-decoration none
				img
					width 100%
					&.cover_base
						display block
					&.cover_hover
						display none
			&:hover .article_cover.change
				.cover_base
					display none
				.cover_hover
					display block