@media screen and (max-width: 960px) {
	.column_item {
		max-width 100%!important
	}
}

.issue_columns
	overflow hidden
	width 100%
	.column_item
		max-width 310px
		// width 60%
		// width 300px
		// float left
		// margin-right 30px
		// border 1px solid red
		// &:last-child
		// 	margin-right 0
		.article_item
			position relative
			display block
			margin-bottom 10px
			&:last-child
				margin-bottom 0
			.article_categorys
				position absolute
				left 10px
				bottom 10px
				overflow hidden
			.article_cover
				display block
				text-decoration none
				.cover_base
					width 100%
					display block
				.cover_hover
					width 100%
					display none
			&:hover
				.cover_base
					display none
				.cover_hover
					display block