@media screen and (max-width: 980px) {
	.content_block {
		margin-left -20px!important
		margin-right -20px!important
	}
	.column_item {
		padding-left 20px!important
		padding-right 20px!important
		box-sizing border-box!important
		max-width 100%!important
	}
}

.issue_columns
	overflow hidden
	margin-top 20px
	width 100%
	.column_item
		max-width 306px
		// width 60%
		// width 300px
		// float left
		// margin-right 30px
		// border 1px solid red
		// &:last-child
		// 	margin-right 0
		.article_item
			position relative
			display block
			margin-bottom 10px
			&.hidden
				opacity 0.5
			&:last-child
				margin-bottom 0
			.article_categorys
				position absolute
				left 10px
				bottom 10px
				overflow hidden
				.category_item
					margin-top 10px
			.article_cover
				display block
				text-decoration none
				img
					width 100%
					&.cover_base
						display block
					&.cover_hover
						display none
			&:hover .article_cover.change
				img.cover_base
					display none
				img.cover_hover
					display block