body
#gyre
	background-color black
	user-select none

.falcon
	color white
	cursor default

.content_block
	width 320px
	padding 0
	text-align center
	position absolute

	// top 15%
	// left 50%
	// margin-left -160px

	margin auto
	top 0
	bottom 0
	left 0
	right 0
	display table
	.logo
		width 100%
		display block
		margin-bottom 30px
		background-color rgba(0, 0, 0, 0.8)
	.form_login
		background-color rgba(0, 0, 0, 0.8)
		border 1px dashed white
		color white
		padding-bottom 25px
	.message
		cursor default
		padding-top 25px
		padding-left 10px
		padding-right 10px
		box-sizing border-box