@keyframes scroll {
	0% {
		transform translateX(0)
	}
	100% {
		transform translateX(-100%)
	}
}

@media (max-width: 800px) {
	.block {
		width 100%!important
		display block!important
	}

	.block.right {
		float left!important
	}

	.block img {
		width 100%!important
		max-width none!important
		max-height none!important
	}

	.block .marquee {
		max-width none!important
		width 100%!important
	}

	.block .marquee span {
		width auto!important
	}
}

html, body
	margin 0
	padding 0
	font 12pt/14pt 'Arial'

.content_block
	width 100%
	max-width 2680px
	margin 0 auto
	margin-top 20px
	margin-bottom 40px
	overflow hidden
	.block
		margin-bottom 20px
		display table
		width 1%
		box-sizing border-box
		&.left
			float left
			padding-left 20px
			padding-right 20px
		&.right
			padding-left 20px
			padding-right 20px
			float right
		.image_item
			display none
			&.active
				display block
			.image
				height auto
				overflow hidden
				img
					max-width 600px
					max-height 600px
					display block
					cursor pointer
			.marquee
				white-space nowrap
				max-width 600px
				height auto
				position absoulte
				overflow hidden
				margin-bottom 5px
				span
					width 100%
					position relative
					display inline-block
					&.run
						padding-left 100%
						&.go
							animation scroll 15s infinite linear

.footer_block
	width 100%
	position fixed
	bottom 20px
	overflow hidden
	.left
		float left
		margin-left 20px
		.stargazer
			margin-left 8px
		.cv
		a
			cursor pointer
			text-decoration none
			color black
			&:hover
				text-decoration underline
		.counter
			cursor default
	// .right
	// 	float right
	// 	margin-right 20px
