body
	background-color black
	color white

a
	color white
	&:hover
		color red

.menu_block
	border-bottom 1px dashed white

.content_block
	width 1200px
	top 90px
	bottom 0
	position absolute
	left 50%
	margin-left -600px
	overflow hidden
	padding-bottom 0px

.ascii
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	bottom 0
	overflow hidden
	display inline-block
	user-select none
	cursor default