extends layout

block content_header
	- var content_title= 'КРОТ | О нас'

	- var content_comps_css = ['about.css']
	- var content_comps_js = ['about.js']

block logo
	img(src='/stuff/' + __app_name + '/icons/logo/krot_main.png')

block content
	img.banner(src='/stuff/' + __app_name + '/backgrounds/about.jpg')
	.description!= html