doctype html
html
	block inline_style
	head
		block paths
		include header
	body(style=bg_image)
		if (session && session.user_id)
			.stargazer
				a(href='/auth', target='_blank') stargazer
				span= '|'
				a(href='/auth/logout', target='_blank') logout
				.sg_drop
					a(href='/admin/users', target='_blank') пользователи
					a(href='/admin/issues', target='_blank') номера
					a(href='/admin/articles', target='_blank') маериалы
					a(href='/admin/categorys', target='_blank') категории
					a(href='/admin/about', target='_blank') о нас

		.outer_block
			.logo_block
				block logo

			.content_block
				block content

			.footer_block
				a.footer_logo(href='/'): img(src='/stuff/' + __app_name + '/icons/logo/krot_mono.png')
				.footer_links
					a(href='/issues') Архив
					a(href='/about') О нас
					a.mail(href='mailto:krot@krot.me') krot@krot.me
				a.footer_back(href='/') Крот выпуск №1