doctype html
html
	block inline_style
	head
		block paths
		include header
	body(style=bg_image)
		.outer_block
			.logo_block
				block logo

			.content_block
				block content

			.footer_block
				a.footer_logo(href='/'): img(src='/stuff/' + __app_name + '/icons/logo/krot_mono.png')
				.footer_links
					a(href='/issues') Архив
					a(href='/about') О нас
					a.mail(href='mailto:krot@krot.me') krot@krot.me
				a.footer_back(href='/') Крот выпуск №1