extends layout

block paths
	- var content_title= 'krot / issues'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/issues.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/issues.js' + version)

block content
	h1 issues!