extends ../layout

block paths
	- var content_title= 'КРОТ | №' + issue.numb

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/issue.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/issue.js' + version)

block logo
	img(src=issue.logo || '/stuff/' + __app_name + '/icons/logo/krot_main.png')

block content
	br
	.issue_columns
		each column in issue.columns
			.column_item
				each article in column.articles
					.article_item
						a.article_cover(href='/articles/' + article._short_id)
							img.cover_base(src=article.base)
							img.cover_hover(src=article.hover)
						.article_categorys
							each category in article.categorys
								a.category_item(href='#' + category._short_id)= category.title