extends ../layout

block paths
	- var content_title= 'КРОТ | №' + issue.numb

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/swiper.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/issue.css' + version)

block content_scripts
	script(type='text/javascript', src='/libs/js/swiper.jquery.min.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/issue.js' + version)

block params
	- var parse = function(prefix, style) { return Object.keys(style).map(function(name) { return prefix + name + ':' + style[name] + ';'; }).join(''); };
	- var bg_image = issue.background ? 'background-image: url(' + issue.background + ');' + parse('background-', issue.style.background.toObject()) : ''
	- var sg_issue = issue._id

block logo
	img(src=issue.logo || '/stuff/' + __app_name + '/icons/logo/krot_main.png')

block content
	.issue_columns.swiper-container: .swiper-wrapper
		each column in issue.columns
			.column_item.swiper-slide
				each article in column.articles
					.article_item
						a.article_cover(href='/articles/' + (article.sym || article._short_id))
							img.cover_base(src=article.base)
							img.cover_hover(src=article.hover)
						.article_categorys
							each category in article.categorys
								a.category_item(href='#' + category._short_id)!= category.title.replace(' ', '<br>')