extends ../layout

block header_meta
	- var content_title= 'КРОТ | МАТЕРИАЛЫ'

block header_include
	- var include_css = ['articles.css']
	- var include_js = ['articles.js']

block logo
	img(src='/stuff/' + __app_name + '/icons/logo/krot_b.svg')

block content
	.articles_block
		include _articles.pug