extends ../layout

block header_meta
	- var content_title= 'КРОТ | МАТЕРИАЛЫ'

block header_include
	- var include_css = ['articles.css']
	- var include_js = ['articles.js']

block content
	h1 МАТЕРИАЛЫ!