extends ../layout
include ../_forms

block header_meta
	- var content_title= 'РЕДАКТИРОВАТЬ КАТЕГОРИЮ'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/categorys') Назад
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Сохранить')

block content
	.form_block
		.title= content_title
		form(action="", method="post")
			.form_title Название:
			+form_text_single('title', category)
			.form_title Описание:
			+form_text_multi('description', category)
			.form_title Тип:
			select(name='type')
				option(value='theme', selected=category.type == 'theme') Тема
				option(value='country', selected=category.type == 'country') Страна
				option(value='author', selected=category.type == 'author') Автор
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden', selected= category.status == 'hidden' && 'hidden') Скрытый
			.form_title Дата публикации:
			+form_date('date', category.date)