extends ../layout
include ../_forms

block content_header
	- var content_title= 'РЕДАКТИРОВАТЬ КАТЕГОРИЮ'

	- var content_libs_css = ['font-awesome.css', 'wysiwyg-editor.min.css']
	- var content_comps_css = ['add.css']

	- var content_libs_js = ['wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var content_comps_js = ['editor.js', 'add.js']

block sub_menu
	a.sub_item.back_link(href='/admin/categorys') Назад


block content
	.form_block
		.title= content_title
		form(action="", method="post")
			.form_title Название:
			+form_text_single('title', category)
			.form_title Описание:
			+form_text_multi('description', category)
			.form_title Тип:
			select(name='type')
				option(value='theme', selected=category.type == 'theme') Тема
				option(value='country', selected=category.type == 'country') Страна
				option(value='author', selected=category.type == 'author') Автор
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden', selected= category.status == 'hidden' && 'hidden') Скрытый
			br
			br
			input(type='submit', value='отправить')