extends ../layout
include ../_forms

block header_meta
	- var content_title= 'ДОБАВИТЬ МАТЕРИАЛ'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/articles') Назад
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Добавить')

block content
	.form_block
		.title= content_title
		form(action='', method='post', enctype='multipart/form-data')
			.form_title Шапка:
			+form_single_file('cover')(accept='image/jpeg,image/png,image/svg+xm,image/gifl')
			.form_title Обложка [базовая]:
			+form_single_file('base')(accept='image/jpeg,image/png,image/svg+xml,image/gif')
			.form_title Обложка [наведение]:
			+form_single_file('hover')(accept='image/jpeg,image/png,image/svg+xml,image/gif')
			.form_title Название:
			+form_text_single('title')
			.form_title Синоним адреса:
			+form_text_single('sym')
			.form_title Вступление:
			+form_text_multi('intro')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Файлы ZIP / PDF:
			+form_multiple_files('attach')(accept='application/pdf,application/zip')
			.form_title Категории:
			+form_multiple_select('categorys', categorys)
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden') Скрытый
			.form_title Дата публикации:
			+form_date('date')