extends ../layout

block content_header
	- var content_title= 'ДОБАВИТЬ ПОЛЬЗОВАТЕЛЯ'

	- var content_comps_css = ['add.css']
	- var content_comps_js = ['add.js']

block sub_menu
	a.sub_item.back_link(href='/admin/users') Назад

block content
	.form_block
		.title= content_title
		form(action="", method="post", autocomplete='off')
			.form_title Логин:
			input(type='text', name='login', autocomplete='off')
			.form_title E-mail:
			input(type='text', name='email', autocomplete='off')
			.form_title Пароль:
			input(type='password', name='password', autocomplete='new-password')
			.form_title Роль:
			select(name='status')
				option(value='User') Пользователь
				option(value='Admin') Администратор
			br
			br
			input(type='submit', value='отправить')