extends layout

block content_header
	- var content_title= 'Error' + ' / ' + status

	- var content_comps_css = ['error.css']

block content
	.error_title= 'Error' + ' ' + status
	.error_message: pre(style='font-size: 11pt; line-height: 14pt;')= stack ? stack : message